.div-m{
    background-color: brown;
    color: blanchedalmond;
    width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    box-sizing: border-box;
    border: 4px solid black;
    padding-left: 200px;
}

body {
    background-image: url("https://www.programiz.com/blog/content/images/2020/11/intro-c-banner-1-1.png");
    /* default value */
    background-repeat: repeat-x;
}
.bg-img{
    color: #000;  
    
}