div {
    background-color: blueviolet;
    color: white;
    margin-top: 20px;
}

#html-div {
    background-color: cornflowerblue;
    color: violet;
}

.h-div {
    background-color: black;
    color: chocolate;
}